html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url('./assets/images/fire-cloud.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}